.main-body {
    margin-top: 60px;
}

.btn-add-employee {
    margin-bottom: 20px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.k-tooltip {
    background: #72c02c !important;
}

.mandatory {
    color: red;
}

.k-datepicker {
    width: 100%;
}

#datepicker-birth-date, #datepicker-join-date {
    height: 38px;
}

.input-dtpicker span span span.k-select {
    line-height: 2.6em;
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}







