<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
    <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Account Number Info</h3>
    <!-- Bank Name -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Bank Name <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Account Number Name -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Account Number Name <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Account Number -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Account Number <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
</div>