<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
    <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Contact Info</h3>
    <!-- Home Address -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Home Address <span class="mandatory">*</span></label>
        <textarea id="inputGroup-1_1" class="form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"></textarea>
    </div>
    <!-- City -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">City <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Province -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Province <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Postal Code -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Postal Code </label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Home Phone -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Home Phone </label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Cell Phone -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Cell Phone <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Email -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Email <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Join Date -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Join Date <span class="mandatory">*</span></label>
        <div class="g-pos-rel input-dtpicker">
            <input id="datepicker-join-date" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus">
        </div>
    </div>
    <!-- Identity Card -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Identity Card <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- NPWP -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">NPWP </label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Family Card -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Family Card </label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
</div>  