<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
    <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Personal Info</h3>
    <!-- First Name -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">First Name <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
    <!-- Middle Name -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_2">Middle Name</label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_2" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10" type="text">
            @*<small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">We use this only for statistics</small>*@
        </div>
    </div>
    <!-- Last Name Name -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Last Name</label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10" type="text">
        </div>
    </div>
    <!-- Last Name Name -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Status Employee <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <div class="g-mb-20">
                <label class="form-check-inline u-check g-pl-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon=""></i>
                    </div>
                    Active
                </label>
            </div>         
        </div>
    </div>
    <!-- Birth Place -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Birth Place <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10" type="text">
        </div>
    </div>
    <!-- Birth Date -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Birth Date <span class="mandatory">*</span></label>
        <div class="g-pos-rel input-dtpicker    ">
            <input id="datepicker-birth-date" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus">
        </div>
    </div>
    <!-- Gender -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Gender <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <div class="g-mb-15">
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" checked="" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                        <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    Male
                </label>
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                        <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    Female
                </label>
            </div>
        </div>
    </div>
    <!-- Status -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Status <span class="mandatory">*</span></label>
        <div class="g-pos-rel">
            <div class="g-mb-15">
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="group-status" checked="" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                        <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    Single
                </label>
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="group-status" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                        <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    Married
                </label>
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="group-status" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                        <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    Divorced
                </label>
            </div>
        </div>
    </div>
    <!-- Children -->
    <div class="form-group">
        <label class="g-mb-10" for="inputGroup-1_1">Children </label>
        <div class="g-pos-rel">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
            </span>
            <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus" type="text">
        </div>
    </div>
</div>